@model IEnumerable<AdoptIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hieronder zie je een overzicht van de honden in het asiel</h1>

<p>
    <a asp-action="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Foto
            </th>
            <th>
                Ras
            </th>
            <th>
                Kleur
            </th>
            <th>
                Geboortedatum
            </th>
            <th>
                Beschikbaar voor adoptie
            </th>
            <th>
                In het asiel sinds
            </th>
            <th>Opties</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/Images/ShelterDogs/@item.ImageSrc" class="image-adoptie" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRegistration)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {onclick = "return confirm('Wil je deze hond daadwerkelijk verwijderen?');" })
            </td>
        </tr>
}
    </tbody>
</table>
